body {
    background-color: #ebeff5 !important;
}

.far.fa-wallet {
    background-color: #ebeff5 !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

#container-bg {
    background-color: #ebeff5 !important;
}

body {
    background: url('../images/background.jpg');
  }

form {
    display: block;
    align-items: center;
}