{% extends 'scoring_app/navbar_temp.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная</title>
</head>
<body>
  {% csrf_token %}

  {% block navbar %}

  <div class="container">
      <div class="col text-center my-4">
          <h2>Ваши расчеты</h2>
      </div>
      
      <table class="col table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">№</th>
            <th scope="col">Пользователь</th>
            <th scope="col">Результат</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for calculation in calculations %}
          <tr>
            <th scope="row">{{ calculation.id }}</th>
            <td>{{ calculation.person_name }}</td>
            <td>D</td>
            <td><a class="btn btn-primary" href="#" role="button">Ссылка на расчет</a></td>
            <td><button type="button" class="btn btn-danger">X</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
      
  </div>
  
  {% endblock %}

</body>
</html>