{% extends 'scoring_app/navbar_temp.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} Профиль {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/profile.css' %}"/>
</head>
<body>
    {% load crispy_forms_tags %}

    {% block content %}

        <div class="row justify-content-center my-4">
            <img src="{% if request.user.profile.image.url is not None %} {{ request.user.profile.image.url }} {% else %} {{ default.png }} {% endif %}" class="rounded img-thumbnail " alt="default" style="max-width: 30%;">
        </div>
        
        <div class="row d-flex p-2">
            <hr>
            <b><p>Имя: </b> {{ request.user.profile.name }}</p>
            <b><p>Email: </b> {{ request.user.profile.email }}</p>
            <hr>
        </div>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="row">
                    <label for="formFile" class="form-label">Выберите файл</label>
                    {{ profile_form.image|as_crispy_field }}
                </div>
                <div class="row">
                    <div class="col-3">    
                        <p>Имя: {{ profile_form.name|as_crispy_field }}</p>
                        
                    </div>
                    
                </div>

                <div class="col text-center my-4">
                    <input class="btn btn-primary" type="submit" value="Обновить">
                  </div>

        </form>
    {% endblock %}

</body>
</html>