{% extends 'scoring_app/navbar_temp.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} Восстановление пароля {% endblock %}
    

</head>
<body>

    {% load crispy_forms_tags %}

    {% block content %}
      
    <div class="col text-center my-4">
        <hr>
        <h2>Создание нового пароля</h2>
        <hr>
    </div>
    <div class="col mb-4">
        <p>Пожалуйста, введите новый пароль дважды, чтобы убедиться в его корректности.</p>
    </div>
    <div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
    <form method="post" action="">
        {% csrf_token %}


        {{ form|crispy }}
        <!--<div class="form-group">
            <label for="exampleFormControlInput1">Пароль</label>

          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Повторите пароль</label>

          </div>-->
        <div class="col text-center my-4">
            <input class="btn btn-primary" type="submit" value="Изменить пароль">
        </div>
    </form>
    </div>
    </div>
    {% endblock %}
</body>