{% extends 'scoring_app/navbar_temp.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} Восстановление пароля {% endblock %}
    

</head>
<body>

    {% load crispy_forms_tags %}

    {% block content %}
      
    <div class="col text-center my-4">
        <hr>
        <h2>Ссылка восстановления отправлена</h2>
        <hr>
    </div>
    <div>
        <p>На введенный адрес электронной почты было отправлено письмо, содержащее ссылку восстановления пароля. 
        При условии, что аккаунт с такой электронной почтой существует, вы должны в скором времени получить письмо.</p>
        <p>Если вы не получили письмо, убедитесь, что вы корректно ввели адрес электронной почты, и проверьте папку "Спам".</p>
    </div>
    <div class="col text-center my-4"></div>
    {% endblock %}
</body>