{% extends 'scoring_app/navbar_temp.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} Восстановление пароля {% endblock %}
    

</head>
<body>

    {% load crispy_forms_tags %}

    {% block content %}
      
    <div class="col text-center my-4">
        <hr>
        <h2>Восстановление пароля успешно завершено</h2>
        <hr>
    </div>
        <div>
            <p>Ваш пароль установлен. Теперь вы можете авторизоваться.</p>
        </div>
        <div class="col text-center my-4">
            <a class="btn btn-primary" href="{% url 'sign-in' %}" role="button">Вход</a>
        </div>
        
    {% endblock %}
</body>