{% extends 'scoring_app/navbar_temp.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %} Регистрация {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/sign_up.css' %}"/>
</head>
<body>
    {% load crispy_forms_tags %}

    {% block content %}
        <div class="col text-center my-4">
            <h2>Регистрация</h2>
        </div>

        <form method="post" name="calc">
            {% csrf_token %}
            
            
            <div class="form-group">
              <label for="exampleFormControlInput1">Email</label>
              {{ sign_up_form.email|as_crispy_field }}
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Пароль</label>
              {{ sign_up_form.password1|as_crispy_field }}
            </div>
            <div class="form-group">
              <label for="exampleFormControlInput1">Повторите пароль</label>
              {{ sign_up_form.password2|as_crispy_field }}
            </div>
            <div class="col text-center my-4">
                <input class="btn btn-primary" type="submit" value="Регистрация">
              </div>
              <div class="col text-center my-4">
                <p>Уже зарегистрированы? <a href="../sign-in/">Вход</a></p>
              </div>
              {{ sign_up_form.errors }}
          </form>

    {% endblock %}
</body>
</html>